# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc

# -------------------------------
# Virtual environments
# -------------------------------
venv/
env/

# -------------------------------
# OS / IDE
# -------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# Feature engineering outputs
# -------------------------------
Train.csv
Test.csv

# -------------------------------
# Quarto source docs
# -------------------------------
*.qmd

# -------------------------------
# configuration files
# -------------------------------
config.R


# -------------------------------
# Excel copies of data files
# -------------------------------
3_Year_Rolling_Lap_Counts.xlsx
3_Year_Rolling_Race_Counts.xlsx
Race_Starts.xlsx
Laps_Completed.xlsx
