# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# -------------------------
# OS / IDE
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log

# ----------------------------
# Feature engineering outputs
# ----------------------------
feature_engineered/*
!feature_engineered/.gitkeep

# -------------------------
# Quarto source docs
# -------------------------
*.qmd
